.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px, 0px, 80px;
  border-radius: 32px;
  margin: auto;
}
.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.Logo-txt {
  display: none;
  white-space: nowrap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-frame {
  font-family: "Eczar";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 102%;
  /* or 41px */
  text-align: center;
  letter-spacing: -0.01em;
  /* Gray / Tuna */
  color: #343541;
}

.label {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  /* Red / Bittersweet */
  color: #f47073;
}
.input {
  display: flex;
  width: 320px;
  height: 35px;

  background: #f7f7f7;
  border-radius: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #85868d;
}
.eye-logo {
  position: relative;
  order: 1;
  flex: none;
  flex-grow: 0;
  float: right;
  margin-right: 1em;
  margin-top: -35px;
}

.buttons-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px;
}
.chackboxframe {
  padding: 0px 0px 10px 0px;
}

.popup {
  padding: 5px;
}

@media only screen and (min-width: 1000px) {
  .popup {
    padding: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
    border-radius: 25px;
  }
  .header-frame {
    font-size: 80px;
  }
  .input-frame {
    margin-left: 8em;
  }
  .eye-logo {
    margin-top: -38px;
    margin-right: 12em;
  }
  .Logo-txt {
    display: flex;
    flex-direction: row;
  }
  .App-header {
    gap: 200px;
  }
  .validation-frame {
    margin-left: 7em;
  }
  .buttons-frame {
    flex-direction: row-reverse;
  }
  .input {
    width: 20em;
    padding: 5px;
  }
}

@media only screen and (min-width: 1400px) {
  .App-header {
    margin-left: 25px;
    gap: 900px;
  }
  .popup {
    padding: 70px;
  }
}
