.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  gap: 895px;
  width: 375px;
  height: 98px;
  margin: auto;
  margin-left: 5em;
}
.Logo-txt {
  display: none;
  width: 299px;
  height: 21px;
  white-space: nowrap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-frame {
  /* Great! Now your name */
  width: 282px;
  height: 82px;
  font-family: "Eczar";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 102%;
  /* or 41px */
  text-align: center;
  letter-spacing: -0.01em;

  margin-left: 1em;
  /* Gray / Tuna */
  color: #343541;
}
body-frame {
  flex-direction: ;
  display: flex;
  flex-direction: column;
  width: auto;
}

.label {
  /* Label */

  width: 85px;
  height: 18px;

  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  /* Red / Bittersweet */
  color: #f47073;
}
.input-frame {
  margin-left: 1em;

  gap: 12px;
}
.input {
  /* Frame 2 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 10px;
  width: 320px;
  height: 56px;

  /* Gray / Athens Gray */
  background: #f7f7f7;
  border-radius: 8px;

  /* Frame 102 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  /* Input text */

  height: 21px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  /* Gray / Jumbo */
  color: #85868d;
}
.eye-logo {
  display: flex;
  position: relative;
  order: 1;
  flex: none;
  flex-grow: 0;
  float: right;
  margin-right: 1em;
  margin-top: -2em;
}

.buttons-frame {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.validation-frame {
  /* Frame 209 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 140px;
  height: 70px;
  margin-bottom: 5em;
}

.popup {
  display: none;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  gap: 35px;
}

@media only screen and (min-width: 1000px) {
  .popup {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;
    gap: 40px;

    width: 600px;
    height: 510px;

    /* Other / Snow White */
    background: #ffffff;
    box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
    border-radius: 24px;
  }
  .header-frame {
    width: 603px;
    height: 164px;
    margin-left: -10px;
    font-family: "Eczar";
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 102%;
    /* or 82px */
    letter-spacing: -0.01em;
  }
  .form-frame {
    margin-left: auto;
  }
  .input-frame {
    margin-left: 8em;
  }
  .eye-logo {
    margin-right: 12em;
  }
  .Logo-txt {
    display: flex;
    flex-direction: row;
    width: 200px;
  }
  .App-header {
    margin-left: 1em;
    gap: 30em;
  }
  .validation-frame {
    margin-left: 7em;
  }
  .chackboxframe {
    margin-top: -6em;
  }
  .buttons-frame {
    flex-direction: row;
  }
  .input {
    width: 20em;
    height: 25px;
  }
  .header-frame {
  }
}

@media only screen and (min-width: 1400px) {
  .popup {
    margin-left: 400px;
  }
  .App-header {
    margin-left: 15em;
    gap: 40em;
  }
}
