@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@400;700&display=swap");

.button-login {
  display: flex;

  padding: 15px 100px 15px 100px;
  background-color: white;

  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  align-items: center;
  letter-spacing: 0.015em;

  /* Red / Cherry Red */
  color: #ec1115;
}

.button-next {
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 15px 110px 15px 110px;
  /* Red / Cherry Red */
  background: #ec1115;
  border-radius: 64px;

  /* Book a ticket */
  color: #ffffff;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}

.checkbox {
  margin-right: 10px;
  box-sizing: border-box;

  width: 25px;
  height: 24px;

  border: 0.75px solid #aeaeb3;
  border-radius: 8px;
}
